@page "/create"
@using QLS.Domain.Entities
@using QLS.Domain.Enums

<PageTitle>
  Thêm Sách
</PageTitle>

<div class="row justify-content-center">
  <div class="col-6">
    <EditForm method="post"
              FormName="AddBookForm"
              Model="Book"
              autocomplete="off">
      <h3>
        Thêm Sách
      </h3>

      <div class="mb-3">
        <label for="title" class="form-label">
          Tiêu đề cuốn sách
        </label>
        <InputText id="title"
                   @bind-Value="Book.Title"
                   class="form-control shadow-none">
        </InputText>
      </div>

      <div class="mb-3">
        <label for="author" class="form-label">
          Tác giả
        </label>
        <InputText id="author"
                   @bind-Value="Book.Author"
                   class="form-control shadow-none">
        </InputText>
      </div>

      <div class="mb-3">
        <label for="publish-date" class="form-label">
          Ngày xuất bản
        </label>
        <InputDate id="publish-date"
                   @bind-Value="Book.PublishDate"
                   class="form-control shadow-none">
        </InputDate>
      </div>

      @* category *@
      <div class="mb-3">
        <label for="category" class="form-label">
          Danh mục sách
        </label>
        <InputSelect id="category"
                     @bind-Value="Book.Category"
                     class="form-control shadow-none">
          @foreach (var category in Enum.GetValues(typeof(Category)))
          {
            <option value="@category">
              @category.ToString()
            </option>
          }
        </InputSelect>

      </div>
      <div class="mb-3">
        <button class="btn btn-primary">
          Thêm
        </button>
        @* tạo thông báo *@
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
      </div>

    </EditForm>

  </div>
</div>

@code {
  public Book Book { get; set; } = new Book();
}
